@font-face {
    font-family:'BarlowCondensed-Light' ;
    src: url('./fonts/BarlowCondensed-Light.ttf');
}
@font-face {
    font-family:'BarlowCondensed-Medium' ;
    src: url('./fonts/BarlowCondensed-Medium.ttf');
}
@font-face {
    font-family:'BarlowCondensed-Regular' ;
    src: url('./fonts/BarlowCondensed-Regular.ttf');
}
@font-face {
    font-family:'BarlowCondensed-SemiBold' ;
    src: url('./fonts/BarlowCondensed-SemiBold.ttf');
}
@font-face {
    font-family:'Bellefair-Regular' ;
    src: url('./fonts/Bellefair-Regular.ttf');
}